body {
  background-color: #f1f1f1;
  font-family: sans-serif;
}
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

input {
  width: 600px;
  height: 35px;
  margin-right: 20px;
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
  color: inherit;
  outline: none;
  margin-bottom: 20px;
  font-size: 18px;
}

::placeholder {
  color: black;
  font-size: 1.5em;
  height: 100%;
}

button {
  display: block;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  padding: 10px;
  width: 115px;
  border-radius: 5px;
}

button:hover {
  background-color: black;
  color: #f1f1f1;
  transition: all 500ms ease;
}

.load-more {
  display: block;
  background-color: transparent;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  width: 135px;
  border-radius: 5px;
}

.info {
  background-color: black;
  border-radius: 8px;
}

.info-item {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  color: #f1f1f1;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

img {
  width: 250px;
  height: 200px;
  object-position: center;
  border-radius: 10px;
}

.load-more.is-hidden {
  display: none;
}
